<div data-role="view" data-layout="default" data-model="app.viewModels.addNote">
    <div data-role="header">
        <div data-role="navbar">
            New appointment
        </div>
    </div>
    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="views/main.html" data-icon="reply">Back</a>
        </div>
    </div>
    <div id="user-content">
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Title
                    <input id="tb-title" type="text" data-bind="value: title" />
                </label>
            </li>
            <li>
                <label>
                    Description
                    <textarea id="tb-content" data-bind="value: content" style="resize: none">Text here</textarea>
                </label>
            </li>
            <li>
                <label>
                    Date
                    <input id="input-date" type="date" data-bind="value: date" value="2012-03-22" />
                </label>
            </li>
            <li>
                <label>
                    Time
                    <input type="time" data-bind="value: time" value="22:30" />
                </label>
            </li>
            <li>
                <label>
                    Alarm
                    <input type="checkbox" data-bind="checked: alarmOn" />
                </label>
            </li>
            <li>
                <label>With
                    <ul id="contacts-container">
                    </ul>
                </label>
            </li>
        </ul>
        <ul id="user-contacts"></ul>
        <ul id="user-images"></ul>
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                <ul>
                    <li>Add photo
                        <a data-role="detailbutton" data-style="contactadd" data-bind="events: {click: addImage}"></a>
                    </li>
                    <li>Add contact
                        <a data-role="detailbutton" data-style="contactadd" data-bind="events: {click: addContact}"></a>
                    </li>
                    <li>Save
                        <a data-role="detailbutton" data-style="detaildisclose" data-bind="events: {click: save}"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>