<div data-role="view" data-layout="main" data-model="app.viewmodels.addNote">
    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="views/main.html" data-icon="reply">Back</a>
        </div>
    </div>
    <div id="user-content">
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Title
                    <input id="tb-title" type="text" value="Title" />
                </label>
            </li>
            <li>
                <label>
                    Description
                    <textarea id="tb-description" style="resize: none">Text here</textarea>
                </label>
            </li>
            <li>
                <label>
                    Type date
                    <input id="input-date" type="date" value="2012-03-22" />
                </label>
            </li>
            <li>
                <label>
                    Type time
                    <input type="time" value="22:30" />
                </label>
            </li>
            <li>
                <label>
                    Alarm
                    <input type="checkbox" />
                </label>
            </li>
        </ul>
        <ul id="user-images"></ul>
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                <ul>
                    <li>Add photo
                        <a data-role="detailbutton" data-style="contactadd" data-bind="events: {click: addImage}"></a>
                    </li>
                    <li>Add contact
                        <a data-role="detailbutton" data-style="contactadd" data-bind="events: {click: addContact}"></a>
                    </li>
                    <li>Save note
                        <a data-role="detailbutton" data-style="detaildisclose" data-bind="events: {click: save}"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>