<div data-role="view" data-layout ="main" data-model="app.viewmodels.addNote">
    <div data-role="header">
        <div data-role="tabstrip">
            <a href="views/main.html" data-icon="reply" </a>
        </div>
    </div>
    <div id="user-content">
        <label for="tb-title">Title:</label>
        <input type="text" id="tb-title" />
        <textarea rows="5" cols="50" id="tb-content"></textarea>
        <input type="date" name="bdaytime">
        <label for="alarm">Alarm:</label>
        <input id="alarm" type="checkbox" />
        
        <ul data-role="buttongroup" data-enable="false">
            <button data-role="button" data-bind="events: {click: addPhoto}">
                Add photo
            </button>
            <button data-role="button" data-bind="events: {click: addContact}">
                Add contact
            </button>
            <button data-role="button" data-bind="events: {click: save}">
                Save
            </button>
        </ul>
    </div>
</div>